set ARK_BASE_URL=https://ark.cn-beijing.volces.com/api/v3
set ARK_API_KEY=xxxx
set ARK_EMBEDDING_MODEL=doubao-embedding-large-text-250515
set ARK_CHAT_MODEL=deepseek-v3-2-251201
set ES_USERNAME=
set ES_PASSWORD=
set ES_HTTP_CA_CERT_PATH=